@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$theme-colors: (
  "primary": hsl(280, 100%, 25%),
  "secondary": #243EAC,
  "tertiary": #A8A8A8,
  "light": hsl(30, 70%, 90%),
  "dark": hsl(0, 0%, 15%)
);

$bg-color: theme-color("secondary");
$color-parchment: theme-color("light");
