@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$theme-colors: (
  "primary": #243EAC,
  "secondary": hsl(280, 100%, 25%),
  "tertiary": #C0C0C0,
  "light": hsl(30, 70%, 90%),
  "dark": hsl(0, 0%, 15%)
);

$bg-color: theme-color("light");
