@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@font-face {
  font-family: 'Libre Baskerville Bold';
  src: url('../../fonts/librebaskerville-bold.woff2') format('woff2'),
  url('../../fonts/librebaskerville-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Baskerville Italic';
  src: url('../../fonts/librebaskerville-italic.woff2') format('woff2'),
  url('../../fonts/librebaskerville-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('../../fonts/librebaskerville-regular.woff2') format('woff2'),
  url('../../fonts/librebaskerville-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conspiracy Regular';
  src: url('../../fonts/conspiracy-regular.woff2') format('woff2'),
  url('../../fonts/conspiracy-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}